<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MySQLConnection" providerName="MySql.Data.MySqlClient" connectionString="Database=silnuevo;Data Source=10.1.4.1;User Id=adal;Password=adal123;port=3307;Allow Zero Datetime=True "/>

    <add name="MySQLConnection2" providerName="MySql.Data.MySqlClient" connectionString="Database=sil;Data Source=10.1.1.2;User Id=administrador;Password=admin;port=3307;Allow Zero Datetime=True"/>

    <add name="SQLConnection" providerName="System.Data.SqlClient"  connectionString="Data Source=10.1.4.2;Initial Catalog=SAN IGNACIO DE LOYOLA S.A.2015;User ID=sa;Password=edydsi"/>

    <!--<add name="SQLConnection2" providerName="System.Data.SqlClient" connectionString="Data Source=10.1.1.6;Initial Catalog=NuevoGIA;persist security info=False;User ID=adal;Password=nqw;Connection Timeout=3000000"/>-->
    <add name="SQLConnection2" providerName="System.Data.SQLOLEDBClient" connectionString="Provider=SQLOLEDB;Driver=SQLOLEDB;Data Source=10.1.1.6;Initial Catalog=NuevoGIA;User id=adal;Password=nqw;"/>

    

  </connectionStrings>
 
  <appSettings>
    <!-- <add key="ReportesPath" value="\\10.1.4.1\Aplicaciones\SilNuevo\Reportes\"/><add name="MySQLConnection2" providerName="MySql.Data.MySqlClient" connectionString="Database=sil;Data Source=10.1.1.2;User Id=root;Password=nqwsbs;port=3306;Allow Zero Datetime=True"/>
   <add name="MySQLConnection2" providerName="MySql.Data.MySqlClient" connectionString="Database=sil;Data Source=10.1.1.2;User Id=administrador;Password=admin;port=3307;-->
  <add key="ReportesPath" value="C:\datos\sistemas\SilAdministracion\SilAdministracion\Reportes\" />
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>

  <startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
